@page "/"
@using SpawnDev.BlazorJS.Toolbox
@implements IDisposable

<PageTitle>Home</PageTitle>

<div>
    <div style="padding: 1rem;">
        Demonstrates <a href="https://github.com/LostBeard/SpawnDev.WebFS">SpawnDev.WebFS</a> by providing read and write access to the browser's <a href="https://developer.mozilla.org/en-US/docs/Web/API/File_System_API/Origin_private_file_system">Origin private file system</a>.
    </div>
    <div style="padding: 1rem;">
        WebFS Tray: @(WebFSClient.Connected ? "connected" : "not connected... is WebFS Tray running?")
    </div>
    <div style="padding: 1rem;">
        <div>
            Path: @($@"\{WebFSProvider.Host}\{path}\".TrimEnd('\\'))
        </div>
        @foreach (var dir in dirs)
        {
            <div>
                - @($@"{dir}\")
            </div>
        }
        @foreach (var file in files)
        {
            <div>
                - @file
            </div>
        }
        <div>
            Total: @files.Count Files @dirs.Count Dirs
        </div>
    </div>
    <div>
        <div style="padding: 1rem;">
            Open files: @WebFSProvider.OpenFiles.Count
        </div>
        @foreach (var openFile in WebFSProvider.OpenFiles)
        {
            <div>
                @($@"\{WebFSProvider.Host}\{openFile.Filename}\".TrimEnd('\\'))
            </div>
        }
    </div>
</div>


@code {

    [Inject]
    WebFSProvider WebFSProvider { get; set; } = default!;

    [Inject]
    WebFSClient WebFSClient { get; set; } = default!;

    string path = "";
    List<string> files = new List<string>();
    List<string> dirs = new List<string>();


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _ = Refresh();
        }
    }
    protected override void OnInitialized()
    {
        WebFSProvider.OnFileOpened += WebFSProvider_OnFileOpened;
        WebFSProvider.OnFileClosed += WebFSProvider_OnFileClosed;
        WebFSClient.OnConnected += WebFSClient_OnConnected;
        WebFSClient.OnDisconnected += WebFSClient_OnDisconnected;
    }
    void WebFSClient_OnConnected(WebFSClient webFSClient)
    {
        StateHasChanged();
    }
    void WebFSClient_OnDisconnected(WebFSClient webFSClient)
    {
        StateHasChanged();
    }
    public void Dispose()
    {
        WebFSProvider.OnFileOpened -= WebFSProvider_OnFileOpened;
        WebFSProvider.OnFileClosed -= WebFSProvider_OnFileClosed;
        WebFSClient.OnConnected -= WebFSClient_OnConnected;
        WebFSClient.OnDisconnected -= WebFSClient_OnDisconnected;
    }
    void WebFSProvider_OnFileOpened(OpenFileContext openFile)
    {
        _ = Refresh();
    }
    void WebFSProvider_OnFileClosed(OpenFileContext openFile)
    {
        _ = Refresh();
    }
    async Task Refresh()
    {
        // dirs.Clear();
        // files.Clear();
        // StateHasChanged();
        using var rootHandle = await WebFSProvider.GetPathDirectoryHandle(path);
        if (rootHandle != null)
        {
            dirs = await rootHandle.GetPathDirectories();
            files = await rootHandle.GetPathFiles();
        }
        StateHasChanged();
    }
}