@page "/"
@using SpawnDev.BlazorJS.Toolbox
@implements IDisposable

<PageTitle>Home</PageTitle>

<div>
    <h1>WebFS Demo</h1>
    <div style="padding: 1rem;">
        This page demonstrates <a href="https://github.com/LostBeard/SpawnDev.WebFS">SpawnDev.WebFS</a> by providing read and write access to the browser's <a href="https://developer.mozilla.org/en-US/docs/Web/API/File_System_API/Origin_private_file_system">Origin private file system</a>.<br/>
        The SpawnDev.WebFS.Tray app must be running on your Windows PC to enable access to the file system provided by this Blazor WebAssembly page.<br />

        <img width="48" src="https://github.com/LostBeard/SpawnDev.WebFS/raw/refs/heads/master/SpawnDev.WebFS/wwwroot/webfs-128.png" /><br/>
        The SpawnDev.WebFS.Tray app runs on the user's PC with an icon in the system tray and can optionally start with Windows.
        While running, the WebFS host app uses <a href="https://github.com/dokan-dev/dokan-dotnet">DokanNet</a> to mount a new drive on the user's PC
        that can be accessed normally by any apps on the user's computer. Websites can request permission to
        provide a file system via a domain labeled folder on the root of the new drive.<br/>
    </div>
    <div>
        To access the file system provided by this Blazor WebAssembly page:<br/>
        <ul>
            <li>Download, install, and run the WebFS tray app from the GitHub repo: <a href="https://github.com/LostBeard/SpawnDev.WebFS">SpawnDev.WebFS</a></li>
            <li>Visit this page</li>
            <li>Right click the WebFS tray icon</li>
            <li>Mouse over Domains to expand the submenu</li>
            <li>Mouse over lostbeard.github.io (this domain) to expand the submenu</li>
            <li>Click Enable to enable (default is indeterminate, currently the same as disabled)</li>
            <li>You can now access the file system provided by this web page via a folder with the name of this host, lostbeard.github.io, on the WebFS drive.</li>
        </ul>
        To show the WebFS drive in File Explorer:<br/>
        <ul>
            <li>Right click the WebFS tray icon</li>
            <li>Click Open Drive - The WebFS drive will open in File Explorer</li>
            <li>A folder for each host that is connected and enabled will be listed</li>
            <li>Open the lostbeard.github.io folder</li>
            <li>Copy a couple files into that folder.</li>
            <li>Watch the files get listed on this page.</li>
        </ul>

    </div>
    <div style="padding: 1rem;">
        WebFS Tray: @(WebFSClient.Connected ? "connected" : "not connected... is WebFS Tray running?")
    </div>
    <div style="padding: 1rem;">
        <div>
            Path: @($@"\{WebFSClient.Host}\{path}\".TrimEnd('\\'))
        </div>
        @foreach (var dir in dirs)
        {
            <div>
                - @($@"{dir}\")
            </div>
        }
        @foreach (var file in files)
        {
            <div>
                - @file
            </div>
        }
        <div>
            Total: @files.Count Files @dirs.Count Dirs
        </div>
    </div>
    <div style="min-height: 100rem;">
        <div style="padding: 1rem;">
            Open files: @WebFSProvider.OpenFiles.Count
        </div>
        @foreach (var openFile in WebFSProvider.OpenFiles)
        {
            <div>
                @($@"\{WebFSClient.Host}\{openFile.Filename}\".TrimEnd('\\'))
            </div>
        }
    </div>
</div>


@code {

    [Inject]
    WebFSProvider WebFSProvider { get; set; } = default!;

    [Inject]
    WebFSClient WebFSClient { get; set; } = default!;

    string path = "";
    List<string> files = new List<string>();
    List<string> dirs = new List<string>();


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _ = Refresh();
        }
    }
    protected override void OnInitialized()
    {
        WebFSProvider.OnFileOpened += WebFSProvider_OnFileOpened;
        WebFSProvider.OnFileClosed += WebFSProvider_OnFileClosed;
        WebFSClient.OnConnected += WebFSClient_OnConnected;
        WebFSClient.OnDisconnected += WebFSClient_OnDisconnected;
    }
    void WebFSClient_OnConnected(WebFSClient webFSClient)
    {
        StateHasChanged();
    }
    void WebFSClient_OnDisconnected(WebFSClient webFSClient)
    {
        StateHasChanged();
    }
    public void Dispose()
    {
        WebFSProvider.OnFileOpened -= WebFSProvider_OnFileOpened;
        WebFSProvider.OnFileClosed -= WebFSProvider_OnFileClosed;
        WebFSClient.OnConnected -= WebFSClient_OnConnected;
        WebFSClient.OnDisconnected -= WebFSClient_OnDisconnected;
    }
    void WebFSProvider_OnFileOpened(OpenFileContext openFile)
    {
        _ = Refresh();
    }
    void WebFSProvider_OnFileClosed(OpenFileContext openFile)
    {
        _ = Refresh();
    }
    async Task Refresh()
    {
        // dirs.Clear();
        // files.Clear();
        // StateHasChanged();
        using var rootHandle = await WebFSProvider.GetPathDirectoryHandle(path);
        if (rootHandle != null)
        {
            dirs = await rootHandle.GetPathDirectories();
            files = await rootHandle.GetPathFiles();
        }
        StateHasChanged();
    }
}